html body {
    background-image: url(../images/QuestionMarkBackground.jpg);
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
}

.container {
  background-image: url(../images/Brown\ Paper.jpg);
  background-size: 100%;
  height: 450px;
  margin-top: 50px;
}

.timer {
    text-align: center;
}